body { font-family: sans-serif;
  text-align: center;
  background: #90ccfb;
  margin: 0;
}

h1, h2 {
  margin-top: 20px;}

.upload-area {
  margin: 20px;}

#previewContainer {
  margin-top: 10px;
}

#previewContainer img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  margin-top: 10px;
  border: 2px solid #ccc;}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 10px;
}

.gallery img {
  width: 25%;
  height: 25%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

.botonera {
  position: absolute;
  top: 30px;
  right: 30px;
  color: white;
}

.btn {
  width: 180px;
  padding: 12px 18px;
  margin-bottom: 15px;
  border: none;
  border-radius: 25px;
  background: #5b47d1;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: 0.25s ease;
  display: block;
}

.btn a {
  text-decoration: none;
  color: #fff;
  width: 500px;
  padding: 12px;
}



body {
  background: linear-gradient(120deg, #336684, #65569b, #b96dad, #90ccfb);
  background-size: 300% 300%;
  animation: movimientoFondo 12s ease infinite;
}

@keyframes movimientoFondo {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}