body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 40px 40px 40px;
  gap: 40px;
  min-height: 100vh;
  background: url("../assets/fondo2.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  background: linear-gradient(135deg, #fceabb, #530753);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 1000;
}

.side-section h3 {
  color: #fff;
  text-align: center;
}

.side-items img {
  display: block;
  margin: 6px auto;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.side-items img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

#dropzone {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.imagen-cuerpo {
  width: 120%;
  height: 80%;
  object-fit: contain;
  pointer-events: none;
}

#dropzone img.placed {
  position: absolute;
  pointer-events: auto;
  user-select: none;
  transition: transform 0.2s ease;
}

.btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(64, 41, 214, 0.8);
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1001;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  background: #ff7a1f;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.botonera .volver {
  margin-bottom: 40px;
}

.botonera .borrar {
  margin-top: 46px; 
  color: white;
}

.botonera .subir {
  margin-top: 90px; 
  color: white;
}

.botonera .btn {
  width: 200px;
  padding: 12px;
  text-align: center;  
}

.botonera .intro {
  display: inline-block; 
  width: 100%;     
  max-width: 250px;     
  padding: 10px 20px;  
  font-size: 12px;    
  text-align: center; 
  white-space: normal; 
  cursor: pointer;  
  box-sizing: border-box; 
  margin-top: 140px;
}


.panel-derecho {
  position: fixed;      
  top: 10vh;            
  right: 20vw;           
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 100;

  max-height: 80vh; 
  overflow-y: auto; 
  
  scrollbar-width: thin;
  scrollbar-color: #caa34a #fceabb;
}

.intro {
  background: linear-gradient(135deg, #fceabb, #530753);
  padding: 15px;
  width: 260px;
  border-radius: 15px;
  font-size: 1.1rem;
  color: #3e2723;
  font-family: 'Segoe UI', sans-serif;
  animation: fadeIn 1.5s ease;
}