body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background: linear-gradient(120deg, #336684, #65569b, #b96dad);
  background-size: 300% 300%;
  animation: movimientoFondo 12s ease infinite;
}

@keyframes movimientoFondo {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  background-color: rgba(255,255,255,0.2);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 1000;
}

.side-section h3 {
  color: #fff;
  text-align: center;
}

.side-items img {
  display: block;
  margin: 6px auto;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.side-items img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

#dropzone {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.imagen-cuerpo {
  width: 120%;
  height: 80%;
  object-fit: contain;
  pointer-events: none;
}

#dropzone img.placed {
  position: absolute;
  pointer-events: auto;
  user-select: none;
  transition: transform 0.2s ease;
}

.btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(64, 41, 214, 0.8);
  border: none;
  padding: 12px 24px;
  border-radius: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1001;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.btn:hover {
  background: #ff7a1f;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.botonera .volver {
  margin-bottom: 40px;
}

.botonera .borrar {
  margin-top: 46px; 
  color: white;
}

.botonera .subir {
  margin-top: 90px; 
  color: white;
}

.botonera .btn {
  width: 200px;
  padding: 12px 0;
  text-align: center;  
}


.intro {
  position: absolute;
  top: 30px;
  right: 360px;
  background: linear-gradient(135deg, #fceabb, #530753);
  padding: 5px;
  width: 250px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: left;
  color: #3e2723;
  font-family: 'Segoe UI', sans-serif;
  animation: fadeIn 1.5s ease;
  z-index: 50;
}

.intro1 { top: 2px; right: 545px; }
.intro2 { top: 250px; right: 550px; }
.intro3 { top: 260px; right: -5px; }
.intro4 { top: 500px; right: -2px; }
.intro5 { top: 450px; right: 550px; }